@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-lime: #baff66;
  --color-dark-gray-1: #1a1a24;
  --color-light-gray: #f2f2f2;
  --color-dark-gray-2: #241f21;
  --color-dark-gray-3: #21241c;

  /* fonts */
  --space-grotesk: "Space Grotesk", sans-serif;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}
